.aux, .footer-right, .ul-footer, .footer-low, .ul-footer-low{
	display: flex;
}
footer{
	padding: 40px 0;
}
.footer-left p {
	width: 70%;
	line-height: 25px;
	color: $default-color-secondary;
}
.footer-right{
	width: 100%;
}
.ul-footer{
	width: 100%;
	flex-direction: column;
	line-height: 20px;
	a{
		text-decoration: none;
	color: $default-color-secondary;

		&:hover{
					color:$default-color;
				}	
	}

	strong{
		margin-bottom: 20px;
	}
}
.footer-low{
	font-size: 12px;
	padding-top:30px;
	justify-content: space-between;

	span{
		color: $default-color-secondary;
	}

	ul{
		width: 30%;
		justify-content: space-between;

			a{
			text-decoration: none;
			color: $default-color-secondary;

			&:hover{
						color:$default-color;
					}	
		}
	}
}